<div class="row search">
            {{input placeholder="Rechercher un utilisateur" value=email class="query"}}
            {{input value=suggestEmail disabled="disabled" class="autocomplete"}}
            <span {{action 'search' ''}}></span>
</div>

{{#unless foundUser}}
<div class="row">
    <div data-alert class="alert-box info">
        Aucun utilisateur trouvé.
    </div>
</div>
{{/unless}}

<div class="row">
{{#if multipleUser}}
<table class="u-full-width">
    <thead>
        <tr>
            <th>Courriel</th>
            <th>Autorisation</th>
        </tr>
    </thead>
    <tbody>
        {{#each model key="id" as |user|}}
        <tr {{action "search" user.email}} class="tableSelect">
            <td><a>{{user.email}}</a></td>
            <td><span class="autorization" data-autorization="{{user.autorization}}"></span></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
{{#each model key="id" as |user|}}
{{user-change userId=user.id}}
{{/each}}
{{/if}}
</div>
