{{outlet}}

<div class="row">
    <div class="large-12 columns">
    {{#if searcher}}
    <form>
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse postfix-radius">
                    <div class="small-11 columns">
                        {{input placeholder="Rechercher un utilisateur" value=email}}
                    </div>
                    <div class="small-1 columns" {{action 'search' ''}}>
                        <span class="postfix">
                            <i class="fi-x"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{/if}}

    {{#unless foundUser}}
        <div class="row">
            <div class="large-12 columns">
                <div data-alert class="alert-box info">
                    Aucun utilisateur trouvé.
                </div>
            </div>
        </div>
    {{/unless}}

    {{#if multipleUser}}
        <table>
            <tbody>
                {{#each model key="id" as |user|}}
                <tr><td><a {{action "search" user.email}}>{{user.email}}</a></td></tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        {{#each model key="id" as |user|}}
            <h2>{{user.email}}</h2>
            {{user-change userId=user.id}}
        {{/each}}
    {{/if}}
</div>
</div>
